<%= simple_form_for [:admin, group] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= card 'Details' do %>
      <%= f.input :name %>
      <%= f.input :position if f.object.persisted? %>
    <% end %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, class: 'btn btn-primary' %> or <%= link_to 'Back', :back %>
  </div>
<% end %>
