<h1 class="h3 mb-3 me-2 d-inline-block">Development Funds</h1>

<%= render "index_search_form", q: @q, search_by: :project_title_or_project_description_cont %>

<%= link_to new_admin_data_upload_path(data_upload: {uploader: 'DevelopmentFunds'}), class: "btn btn-primary float-end mt-n1" do %>
  <i class="bi-upload me-2"></i>
  Upload Funds
<% end %>

<%= dropdown "Actions", class: "float-end mt-n1 me-2" do %>
  <li>
    <%= link_to admin_development_funds_path(format: 'csv', **redirect_params), class: "dropdown-item" do %>
      <i class="bi-download me-2"></i>Export CSV
    <% end %>
  </li>
<% end %>

<%= render(Table::Component.new(resources: @resources, q: @q, row_action_link: :admin_development_fund_path)) do |c| %>
  <% c.column(:region_name, name: 'Region') { |r| r.region&.name } %>
  <% c.column :project_title %>
<% end %>

<% content_for(:content_footer) do %>
  <%== pagy_bootstrap_nav(@pagy) %>

  <div class="float-end">
    <%== pagy_info(@pagy) %>
  </div>
<% end %>
