<%= simple_form_for [:admin, data_upload] do |f| %>
  <% if data_upload.errors.any? %>
    <div class="alert alert-danger">
      Please review the problems below:
      <% extra_errors = data_upload.errors.reject { |e| e.attribute.in?([:file, :uploader]) }  %>

      <% if extra_errors.any? %>
        <ul>
          <% extra_errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :uploader, collection: DataUpload::UPLOADERS %>
    <%= f.input :file, as: :file %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, 'Upload', class: 'btn btn-primary' %> or <%= link_to 'Back', :back %>
  </div>
<% end %>
