<%= link_to new_admin_data_upload_path, class: "btn btn-primary float-end mt-n1" do %>
  New Data Upload
<% end %>

<h1 class="h3 mb-3 me-2 d-inline-block">Data Uploads</h1>

<%= render "index_search_form", q: @q, search_by: :uploader_cont %>

<%= render(Table::Component.new(resources: @resources, q: @q, row_action_link: :admin_data_upload_path)) do |c| %>
  <% c.column :name, sortable: false %>
  <% c.column :file, sortable: false %>
  <% c.column :uploaded_by %>
  <% c.column :uploaded_at %>
  <% c.actions do |resource| %>
    <%= link_to 'Show', admin_data_upload_path(resource), class: "dropdown-item" %>
  <% end %>
<% end %>

<% content_for(:content_footer) do %>
  <%== pagy_bootstrap_nav(@pagy) %>

  <div class="float-end">
    <%== pagy_info(@pagy) %>
  </div>
<% end %>
