<h1 class="h3 mb-3 me-2 d-inline-block">Themes</h1>

<%= render "index_search_form", q: @q, search_by: :title_or_description_cont %>

<%= render(Table::Component.new(resources: @resources, q: @q, row_action_link: :admin_theme_path)) do |c| %>
  <% c.column :title %>
  <% c.column :description, as: :html %>
  <% c.actions do |theme| %>
    <%= link_to 'Show', admin_theme_path(theme), class: 'dropdown-item' %>
    <%= link_to 'Edit', edit_admin_theme_path(theme), class: 'dropdown-item' %>
  <% end %>
<% end %>

<% content_for(:content_footer) do %>
  <%== pagy_bootstrap_nav(@pagy) %>

  <div class="float-end">
    <%== pagy_info(@pagy) %>
  </div>
<% end %>
