<h1 class="h3 mb-3 me-2 d-inline-block">Regions</h1>

<%= render "index_search_form", q: @q, search_by: :name_cont %>

<%= render(Table::Component.new(resources: @resources, q: @q, row_action_link: :edit_admin_region_path)) do |c| %>
  <% c.column :name %>
  <% c.column :active %>
  <% c.actions do |region| %>
    <%= link_to 'Edit', edit_admin_region_path(region), class: "dropdown-item" %>
  <% end %>
<% end %>

<% content_for(:content_footer) do %>
  <%== pagy_bootstrap_nav(@pagy) %>

  <div class="float-end">
    <%== pagy_info(@pagy) %>
  </div>
<% end %>
