<%= simple_form_for [:admin, resource] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= card 'Details' do %>
      <%= f.input :title %>
      <%= f.association :group %>
      <%= f.association :region, collection: Region.province.or(Region.tourism_region) %>
      <%= f.input :link %>
      <%= f.input :file, as: :file %>
    <% end %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, class: 'btn btn-primary' %> or <%= link_to 'Back', :back %>
  </div>
<% end %>
