<% content_for :content do %>
  <div class="wrapper" data-controller="sidebar">
    <nav id="sidebar" class="sidebar" data-sidebar-target="sidebar">
      <div class="sidebar-content">
        <%= link_to admin_dashboards_path, class: 'sidebar-brand' do %>
          <span class="align-middle">TOTA Back Office</span>
        <% end %>

        <ul class="sidebar-nav">
          <% if current_user.admin? %>
            <li class="sidebar-header">
              Data
            </li>

            <%= sidebar_link_to admin_regions_path do %>
              <i class="bi-pin-map"></i> Regions
            <% end %>

            <%= sidebar_link_to admin_organizations_path do %>
              <i class="bi-building"></i> Organizations
            <% end %>

            <%= sidebar_link_to admin_development_funds_path do %>
              <i class="bi-cash"></i> Development Funds
            <% end %>

            <%= sidebar_link_to admin_indicator_values_path do %>
              <i class="bi-graph-up"></i> Indicators
            <% end %>

            <%= sidebar_link_to admin_data_uploads_path do %>
              <i class="bi-upload"></i> Data Uploads
            <% end %>

            <li class="sidebar-header">
              Content
            </li>

            <%= sidebar_link_to admin_themes_path do %>
              <i class="bi-file-bar-graph"></i> Themes & Widgets
            <% end %>

            <li class="sidebar-header">
              Additional Resources
            </li>

            <%= sidebar_link_to admin_additional_resources_path do %>
              <i class="bi-card-list"></i> Resources
            <% end %>

            <%= sidebar_link_to admin_additional_resource_groups_path do %>
              <i class="bi-collection"></i> Groups
            <% end %>

            <li class="sidebar-header">
              User Management
            </li>

            <%= sidebar_link_to admin_users_path do %>
              <i class="bi-person-lines-fill"></i> Users
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="d-flex h-100" data-action="click->sidebar#toggle">
          <i class="hamburger align-self-center"></i>
        </a>

        <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                <i class="bi-settings"></i>
              </a>

              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <span class="text-dark"><%= current_user.email %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <%= link_to edit_admin_user_path(current_user), class: "dropdown-item" do %>
                  <i class="bi-person"></i> Profile</a>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <main class="content">
        <%= render "application/flash_messages" %>

        <div class="d-flex justify-content-between">
          <%= render "breadcrumbs" %>
          <% if content_for?(:actions) %>
            <div class="ms-4">
              <%= content_for :actions %>
            </div>
          <% end %>
        </div>

        <div class="container-fluid p-0">
          <%= yield %>
        </div>
      </main>

      <% if content_for?(:content_footer) %>
        <footer class="footer">
          <div class="container-fluid text-muted">
            <%= content_for :content_footer %>
          </div>
        </footer>
      <% end %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
